@model UserReg

<h2style="display:inline;"> Welcome </h2> 
<h3style="display:inline;">@Model.FirstName @Model.LastName</h3>



<p>@Model.FirstName @Model.LastName</p>
<p>E-Mail: @Model.Email</p>
<p>Password: @Model.Password</p>